{%extends "PilotParcLoginBundle:Default:index.html.twig"%}
{%block stylesheets %}

<style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-image: url("http://www.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_232/march%C3%A9-%7C-630x405-%7C-%C2%A9-otcp-am%C3%A9lie-dupont-%7C-169-11/23331-1-fre-FR/March%C3%A9-%7C-630x405-%7C-%C2%A9-OTCP-Am%C3%A9lie-Dupont-%7C-169-11.jpg");
        }

        .form-signin {
            max-width: 500px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 50px;
        }

        .marge{
            margin-bottom: 15px;
        }

        .marge-s{
           margin-bottom: 10px;
        }
        

        .form-signin-heading{
            margin-bottom: 50px;
            text-align: center;
        }

        .form-signin-heading-2{
            margin-bottom: 25px;
            text-align: center;
            color:blue;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

        .flash-notice{
            background-color: blue;
            color: white;
            margin-bottom: 10px;
        }

    </style>
{%endblock%}
  {%block container %}
    <div class="container">

        <form class="form-signin" method ="POST" action="{{path('pilot_parc_login_homepage')}}" data-validate="parsley">
            <h2 class="form-signin-heading-2">Bienvenue sur PilotParc</h2>
            <h5 class="form-signin-heading">Solution de gestion de mise à disposition du domaine public</h5>
            <input type="text" id="email" name="email" class="input-block-level" placeholder="Email" data-trigger="change" data-required="true" data-type="email">
            <div class="marge"></div>
            <input type="password" id="motdepasse" name="motdepasse" class="input-block-level" placeholder="Mot de passe" data-trigger="change" data-required="true">
            <div class="marge"></div>
            <button class="btn btn-large btn-primary" type="submit">Se connecter</button>
            <div class="marge-s"></div>
            <a href="{{path('pilot_parc_login_signup')}}" >S'inscrire</a>
        </form>
    </div> 
    {% if prenom is defined%}
    <div class="alert-info fade in">
        <strong>{{prenom}}</strong>
    </div>
    {%endif%}
    {%endblock%}