{% extends 'base.html.twig' %}

{% block body %}

	<table border="4" width="25%">
	<caption>tbplacesmarche</caption>
	<tr>
		<th>tb_idTbmarche</th><th>tb_idTbMarchand</th><th>typologiePlace</th>
	</tr>
	{% for tbutilisateurs in liste %}
		<tr>
			<td>{{ tbutilisateurs.nom }}</td>
			<td>{{ tbutilisateurs.prenom }}</td>
			<td>{{ tbutilisateurs.email }}</td>
		</tr>
	{% endfor %}
{% endblock %}
